.grid {
    display: grid;

    &-2 {
        grid-template-columns: 1fr 1fr;
    }
    &-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}